<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="visor">
                <span class="visorTitle">SONDA</span>
                <span class="visorNum">0</span>
            </div>
            <div>
                <label>Manual</label>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            
      </div>
      <div class="col-sm">
            <div class="counterButton" id="buttonCable">
                <span class="buttonTitle">CABLE</span>
                <ion-icon name="caret-up-outline" action="clickUp" spanId="counterCable"></ion-icon>
               <div><span id="counterCable">0</span><span class="uMedida">m</span></div>
                <ion-icon name="caret-down-outline" action="clickDown" spanId="counterCable"></ion-icon>
        </div> 
        </div>
        <div class="col-sm">
            <div class="counterButton" id="buttonFondo">
                <span class="buttonTitle">FONDO</span>
                <ion-icon name="caret-up-outline" action="clickUp" spanId="counterFondo"></ion-icon>
                <div><span id="counterFondo">0</span><span class="uMedida">m</span></div>
                <ion-icon name="caret-down-outline" action="clickDown" spanId="counterFondo"></ion-icon>
        </div> 
        </div>
        <div class="col-sm">
            <div class="counterButton" id="buttonVel">
                <span class="buttonTitle">VELOCIDAD</span>
                <ion-icon name="caret-up-outline" action="clickUp" spanId="counterVel"></ion-icon>
                <div><span id="counterVel">0</span><span class="uMedida">%</span></div>
                <ion-icon name="caret-down-outline" action="clickDown" spanId="counterVel"></ion-icon>
        </div> 
      </div>
    </div>
  </div>
      
